[submodule "client/deps/libpomelo"]
	path = client/deps/libpomelo
	url = http://github.com/NetEase/libpomelo
[submodule "client/deps/cocos2dx"]
	path = client/deps/cocos2dx
	url = https://github.com/cocos2d/cocos2d-x
[submodule "server"]
	path = server
	url = https://github.com/youngsheep/fallingsky-server
